@charset "UTF-8";
body {
  background-color: #FFF;
  color: #ff4500;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

div {
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 10px; }

ul {
  list-style-type: square;
  list-style-position: inherit; }

.container {
  background: none; }

.header {
  border: none;
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  color: #18379e;
  text-transform: uppercase;
  text-align: center; }

.jumbotron {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px; }

.banner {
  width: 60%;
  height: 30%; }

footer ul {
  list-style-type: none; }

footer ul li a:link, footer ul li a:hover {
  color: #ff4500; }

.btn-primary {
  background-color: #18379e;
  color: #ff4500; }

.row {
  border: none; }

.navbar {
  background-color: #18379e !important;
  padding: 0px;
  margin: 0px; }

.navbar-light .navbar-nav .nav-link {
  color: #ff4500 !important; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #c71f1c !important; }

.icon {
  width: 16px;
  height: 16px; }

.arr-bread {
  height: 36px;
  padding: 0px;
  line-height: 36px;
  list-style: none;
  background-color: transparent; }

.arr-bread li, .arr-bread li a, .arr-bread li span {
  display: inline-block;
  vertical-align: top;
  color: #18379e; }

.arr-bread li:not(:first-child) {
  margin-left: 0px; }

.arr-bread li + li:before {
  padding: 0px;
  content: "→ ";
  background-color: transparent; }

.arr-bread li span {
  padding: 0 10px;
  color: #c71f1c; }

.arr-bread li a, .arr-bread li:not(:first-child) span {
  height: 36px;
  padding: 0 10px 0 25px;
  line-height: 36px; }

.arr-bread li:first-child a {
  padding: 0 10px; }

.arr-bread li a {
  position: relative;
  color: #18379e;
  text-decoration: none;
  background-color: transparent;
  border: none; }

.arr-bread li:first-child a {
  padding-left: 10px; }

.arr-bread li a:after, .arr-bread li a:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: ''; }

.arr-bread li a:before {
  right: -10px;
  z-index: 3; }

.arr-bread li a:after {
  right: -11px;
  z-index: 2; }

.card {
  background-color: transparent !important; }

.tarjeta {
  margin: 10px 2;
  padding-top: 10px;
  font-size: 0.9rem; }

.tarjeta .tarjeta-card {
  flex: 1 310px;
  margin: 10px; }

.card-body .list-group .list-group-item {
  background-color: transparent !important;
  color: #ff4500; }

.tarjeta .tarjeta-card .card-text {
  margin-top: 10px;
  color: #ff4500; }

.tarjeta .tarjeta-card .card-header .card-img-top {
  width: 50%;
  height: 60%;
  padding: 0px;
  margin: 0px; }

.tarjeta .card-footer .card-link {
  background-color: #18379e;
  color: #ff4500;
  width: 100%;
  font-size: 1rem; }

/* Tabs*/
#tabs {
  background-color: transparent; }

#tabs .nav-tabs .nav-link {
  border: none;
  font-size: 20px; }

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #c71f1c !important;
  background-color: transparent;
  border-color: transparent transparent #f3f3f3;
  font-size: 20px;
  font-weight: bold; }

.buscar {
  color: #ff4500;
  align: center; }

.filter-col {
  padding-left: 10px;
  padding-right: 10px; }

.wrn-btn {
  width: 80%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important; }

/*# sourceMappingURL=main.css.map */
